@page "/"
@inherits MainLayout

<PageTitle>Index</PageTitle>

<header class="">
    <div class="row justify-content-center text-break gx-5">
        <div class="col-12 avatar">
            <img class="rounded-circle" src="images/tx.jpg" alt=""/>
        </div>
        <div class="col-12 transinfo text-center">
            <p>转账-转给华达</p>
        </div>
        <div class="col-12 transvalue text-center">
            <p>-170.00</p>
        </div>
        <hr class="">
        <div class="col-3 samarycol1"><p>当前状态</p></div>
        <div class="col-9 samarycol2"><p>对方已收钱</p></div>
        <div class="col-3 samarycol1"><p>转账说明</p></div>
        <div class="col-9 samarycol2"><p>微信转账</p></div>
        <div class="col-3 samarycol1"><p>转账时间</p></div>
        <div class="col-9 samarycol2"><p>2022年11月15日 10:46:28</p></div>
        <div class="col-3 samarycol1"><p>收款时间</p></div>
        <div class="col-9 samarycol2"><p>2022年11月15日 12:01:34</p></div>
        <div class="col-3 samarycol1"><p>支付方式</p></div>
        <div class="col-9 samarycol2"><p>中国银行储蓄卡(0155)</p></div>
        <div class="col-3 samarycol1"><p>转账单号</p></div>
        <div class="col-9 samarycol2"><p>1000050001202211150619806663124</p></div>
    </div>
</header>