@page "/"
@inherits MainLayout

<header class="">
    <div class="row text-break">
        <div class="col-12 avatar text-center">
            <img class="rounded-circle" src="images/tx.jpg" alt=""/>
        </div>
        <div class="col-12 transinfo text-center">
            <p>转账-转给华达</p>
        </div>
        <div class="col-12 transvalue text-center">
            <p>-170.00</p>
        </div>
        <hr>
        <div class="col-4 samarycol1">当前状态</div>
        <div class="col-8 samarycol2">对方已收钱</div>
        <div class="col-4 samarycol1">转账说明</div>
        <div class="col-8 samarycol2">微信转账</div>
        <div class="col-4 samarycol1">转账时间</div>
        <div class="col-8 samarycol2">2022年11月15日 10:46:28</div>
        <div class="col-4 samarycol1">收款时间</div>
        <div class="col-8 samarycol2">2022年11月15日 12:01:34</div>
        <div class="col-4 samarycol1">支付方式</div>
        <div class="col-8 samarycol2">中国银行储蓄卡(0155)</div>
        <div class="col-4 samarycol1">转账单号</div>
        <div class="col-8 samarycol2">1000050001202211150619806663124</div>
    </div>
</header>