@inherits LayoutComponentBase

<main class="bg-white">
    <div class="close">
        <i class="bi bi-x-lg"></i>
    </div>
@Body
    <div class="blank vw-100"></div>
<footer class="" >
    <div class="row">
        <div class="col-12" style="font-size: 2.2rem"><p>账单服务</p></div>
        <hr style="margin-top: 3rem">
        <div class="col-6 billservice"><i class="bi bi-question-circle"></i>对订单有疑惑</div>
        <div class="col-6 billservice"><i class="bi bi-chat"></i>定位到聊天位置</div>
        <div class="col-6 billservice"><i class="bi bi-star"></i>申请转账电子凭证</div>
        <div class="col-6 billservice"> <i class="bi bi-arrow-left-right"></i>查看来往转账</div>
    </div>
</footer>
</main>
<nav class="fixed-bottom">
    <div class="text-center">
        <p>本服务由财付通提供</p>
    </div>
    <div class="row justify-content-md-center text-center nag">
        <div class="col-3">
            <i class="bi bi-chevron-left"></i>
        </div>
        <div class="col-3">
            <i class="bi bi-chevron-right" style="color: #a8a8a8"></i>
        </div>
    </div>
</nav>